.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;

  @media #{$desktop} {
    width: 960px;
  }

  @media #{$tablet} {
    width: 660px;
  }

  @media #{$mobile} {
    width: 320px;
    padding: 0 10px;
  }
}

.hide {
  display: none;
}

.open {
  display: block;
}

html {
  scroll-behavior: smooth;
}
