$lato: 'Lato', 'Arial', sans-serif;
$avenir: 'Avenir', 'Arial', sans-serif;
$raleway: 'Raleway', 'Arial', sans-serif;
$desktop: '(min-width: 960px) and (max-width: 1199px)';
$tablet: '(min-width: 660px) and (max-width: 959px)';
$mobile: '(min-width: 320px) and (max-width: 659px)';