.contacts {
  padding: 100px 0 123px;
  background-color: #0b0f11;
  background-image: url("../img/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: cover;
}

.contacts__social {
  margin: 150px 0 0;
  text-align: center;
}

.contacts__form {
  margin: 70px 0 0;
}

@media #{$mobile} {

  .contacts {
    padding: 50px 0 50px;
  }

  .contacts__social {
    margin: 50px 0 0;
  }
}
