.form {
  text-align: center;
}

.form__name,
.form__email,
.form__message {
  width: 274px;
  padding: 0 0 0 28px;
  border: none;
  border-bottom: 2px solid #afafaf;
  background-color: transparent;
  font-family: $lato;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
}

.form__name {
  margin: 0 63px 0 0;
}

.form__message {
  width: 642px;
  margin: 100px 0 0;
}

.form__btn-container {
  margin: 50px 0 0;
}
