.header {
  background-color: #012536;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 50px 0 45px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__title {
  margin: 240px 0 0;
  font-family: $raleway;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header__subtitle {
  margin: 95px 0 0;
  font-family: $lato;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.header__btn-container {
  display: block;
  text-align: center;
  margin: 150px 0 0;
}

.header__btn {
  display: inline-block;
  position: relative;
  width: 86px;
  height: 86px;
  border: 3px solid #8098a4;
  border-radius: 50%;
  font-size: 0;

  &::before {
    @include pseudo;
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: 3px solid #8098a4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: none;
    border-left: none;
  }
}

@media #{$tablet} {

  .header__menu {
    display: none;
  }

  .header__title {
    font-size: 32px;
  }

  .header__subtitle {
    font-size: 18px;
  }
}
