.header {
  background-color: #012536;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  padding: 50px 0 0;
}
