.services {
  padding: 100px 0 0;
}

.services__wrapper {
  overflow: hidden;
}

.services__list {
  margin: 150px 0 0;
  padding: 0;
  display: flex;
  list-style: none;
  transition: transform 2s;
}

.services__item {
  min-width: 370px;
  padding: 180px 0 0;
  margin: 0 0 0 30px;
  text-align: center;
  font-family: $lato;
  background-repeat: no-repeat;

  &--design {
    background-image: url(../img/services-item1.svg);
    background-position: center top;
  }

  &--responsive {
    background-image: url(../img/services-item2.svg);
    background-position: center top;
  }

  &--pixel {
    background-image: url(../img/services-item3.svg);
    background-position: center 20px;
  }
}

.services__item:nth-child(3n+1) {
  margin: 0;
}

.services__item-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.services__item-description {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.services__sliders {
  margin: 70px 0 0;
  text-align: center;
}

.services__container {
  margin: 110px 0 0;
  padding: 105px 0 100px;
  background-image: url("../img/services-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $lato;
}

.services__container .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__container-item {
  text-align: center;
  color: #ffffff;
}

.services__container-numbers {
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
}

.services__container-text {
  font-size: 24px;
  line-height: 51px;
  font-weight: 600;
  text-transform: uppercase;
}

@media #{$desktop} {

  .services__item {
    min-width: 290px;
  }
}

@media #{$tablet} {

  .services__item {
    min-width: 290px;
  }

  .services__item:nth-child(4n) {
    margin: 0 0 0 30px;
  }

  .services__container-numbers {
    font-size: 40px;
    line-height: 48px;
  }

  .services__container-text {
    font-size: 18px;
  }
}

@media #{$mobile} {

  .services {
    padding: 50px 0 0;
  }

  .services__list {
    margin: 50px 0 0;
    display: block;
  }

  .services__item {
    min-width: 300px;
    margin: 0;
  }

  .services__item:nth-child(4),
  .services__item:nth-child(5),
  .services__item:nth-child(6) {
    display: none;
  }

  .services__sliders {
    display: none;
  }

  .services__container {
    margin: 50px 0 0;
    padding: 50px 0;
  }

  .services__container .wrapper {
    display: block;
  }
}
