.skills {
  padding: 100px 0 100px;
  font-family: $lato;
}

.skills__container {
  margin: 160px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__left,
.skills__right {
  width: 48%;
}

.skills__right {
  padding: 0;
  margin: 8px 0 0;
  list-style: none;
}

.skills__left-title {
  font-size: 27px;
  line-height: 54px;
  font-weight: 600;
  text-transform: uppercase;
}

.skills__left-description {
  padding: 0 50px 0 0;
  font-size: 23px;
  line-height: 28px;
  font-weight: 100;
  text-align: justify;
}

.skills__item {
  margin: 0 0 27px;
}

.skills__item-name {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #888888;
  text-transform: uppercase;
}

.skills__progress {
  appearance: none;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #eeeeee;
}

.skills__progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 10px;
}

.skills__progress::-webkit-progress-value {
  background-color: #005494;
  border-radius: 10px;
}

.skills__progress::-moz-progress-bar {
  background-color: #005494;
  border-radius: 10px;
}

@media #{$desktop} {

  .skills__left-title {
    font-size: 22px;
  }
}

@media #{$tablet} {

  .skills__left {
    margin: 50px 0 0;
  }

  .skills__left-title {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }

  .skills__left-description {
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }
}

@media #{$mobile} {

  .skills {
    padding: 50px 0;
  }

  .skills__container {
    margin: 40px 0 0;
  }

  .skills__left {
    width: 100%;
    text-align: center;
  }

  .skills__left-title {
    font-size: 20px;
  }

  .skills__left-description{
    padding: 0;
    font-size: 18px;
  }

  .skills__right {
    width: 100%;
    margin: 0;
  }
}
